

.btn-url_nav_general{ /*Copiado de Rendon y editado por Gonzalez*/
    display: block;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #0;
    cursor: pointer;
    margin: 10px auto;
    height: 25px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

div {
    display: block;
}

.social-networks {
    padding-top: 20px;
    padding-left: 30px;
    min-width: 156px;
    width: 250px;
}

.social-networks div {
    justify-content: center;
    padding: 10px;
}

.social-networks img {
    width: 45px;
}

.social-networks span {
    color: white;
    position: relative;
    top: -15px;
}