nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.lugar-info{
    display: block;
}

.contenedor-lugares{
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
}

.lugar-info p {
    margin: 20px 30px 0 30px;
    min-width: 200px;
}

.contenedor-lugares img{
    width: 60%;
    margin: auto;
}

.contenedor-imagen{
    text-align: center;
}

.timer-bar{
    position: relative;
    width: 60%;
    top: -1rem;
    left: 20%;
    overflow: hidden;
}

.timer-bar::after{
    content: "";
    position: relative;
    display: inline-block;
    top: -0.5rem;
    width: 100%;
    height: 100%;
    border-bottom: 0.5rem solid #2bb673;
    animation: timerAnim 5s linear infinite;
}	

@keyframes timerAnim {
    0%{
        transform: translate(-100%, 0) ;
    }

    100%{
        transform: translate(0, 0) ;
    }
}

footer{
    display: grid;
}

.mas-info{
    margin-top: 20px;
}

.btn-mas-info{
    display: block;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 80px auto;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);            
}