.footer{ /*Cantos*/
    clear: both;
    min-height: 20px;
    margin-top: 50px;
    background-image: linear-gradient( rgba(13, 39, 56, 0.7), rgba(4,9,30,1)), url(../img/footer_quito.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
}

.btn-url_nav_general{ /*Copiado de Rendon y editado por Gonzalez*/
    display: block;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #0;
    cursor: pointer;
    margin: 10px auto;
    height: 25px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}