*{
    background-color: aqua;
}
.container{
    background-color: red;
  border: solid blue;
}

.container1{
    background-color: blue;
    border:solid black
}
.h1{
    background-color: brown;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
